.grid-wrapper {
    table-layout: fixed;
    border-collapse: collapse;
    display: inline-table;
}

.algorithm-grid {
    border: 1px solid #000000;
    border-width: 1px 0 0 1px;
}

.node {
    border: 1px solid #000000;
    border-width: 0 1px 1px 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    padding: 0px;
}

.node.empty {
    background-color: white;
}

.node.animatedEmpty {
    animation-name: toEmpty;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: -0.75s;
}

.node.wall {
    background-color: black;
}

.node.animatedWall {
    animation-name: toWall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: -0.75s;
}

.node.start {
    background-color: green;
}

.node.end {
    background-color: red;
}

.node.visited {
    background-color: yellow;
    animation-name: toVisited;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.node.visiting {
    background-color: orange;
    animation-name: toVisiting;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.node.path {
    background-color: blue;
    animation-name: toPath;
    animation-duration: 3s;
}

@keyframes toVisited {
    from {
        background-color: orange;
    }
    to {
        background-color: yellow;
    }
}

@keyframes toVisiting {
    from {
        background-color: orange;
        transform: scale(0.1);
        border-radius: 100%;
    }
    to {
        transform: scale(1);
    }
}

@keyframes toPath {
    from {
        background-color: white;
        transform: rotateZ(0deg) scale(0.1);
    }
    to {
        background-color: blue;
        transform: rotateZ(360deg) scale(1);
    }
}

@keyframes toWall {
    from {
        background-color: white;
        transform: scale(0.1);
        border-radius: 100%;
    }

    to {
        background-color: black;
        transform: scale(1);
    }
}

@keyframes toEmpty {
    from {
        background-color: black;
        transform: scale(1);
    }
    to {
        background-color: white;
        transform: scale(0.1);
        border-radius: 100%;
    }
}
