[Unit]
Description=Gunicorn server for {{ HOST }}

[Service]
User={{ ansible_ssh_user }}
WorkingDirectory=/home/{{ ansible_ssh_user }}/sites/{{ HOST }}
Restart=on-failure
EnvironmentFile=/home/{{ ansible_ssh_user }}/sites/{{ HOST }}/.env
ExecStart=/home/{{ ansible_ssh_user }}/sites/{{ HOST }}/venv/bin/gunicorn --bind unix:/tmp/{{ HOST }}.socket algorithms.wsgi:application

[Install]
WantedBy=multi-user.target
